{% extends 'base.html.twig' %}

{% block title %}Nodi
{% endblock %}


{% block body %}


    <!-- contenuto -->

    <div class="row clearfix">
        <div class="col-md-12 column">

            <div class="category">
                <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered" aria-hidden="true"></span>  </a>  <h1>I nodi marinari</h1>
            </div>
        </div>

    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">
<br>
            <p> Saper fare (e disfare) correttamente un nodo è forse una delle basi per poter navigare in sicurezza. Ogni nodo è unico e possiede delle qualità che lo rendono, quasi sempre, l'unica possibilità in alcuni casi, ma allo stesso tempo la peggiore per altre. Ogni nodo ha quindi un suo modo e tempo di impiego e nessun nodo è onnivalente, neppure la gassa d'amante.</p>
        <div class="divisore-big"></div>
        </div>

    </div>

<div class="row nodi">
    {% for nodo in nodi %}
    <div class="col-md-4 column">

<a href="/nodi/{{ nodo.permalink }}">
        <div class="box-home">
            <div style="background-image: url(/images/nodi/{{ nodo.immagineCorrelataArticolo }});"
                 class="divBackgroundImage">
            </div>
            <div class="content">

                <div class="box-action">
                    <h2>Nodo "{{ nodo.nome }}"
                    </h2>

                    <div class="over-box">
                        <p>{{ nodo.descrizione[:150] }}...</p>

                        <button class="btn btn-default dettagli-nodo hvr-glow" type="submit" >DETTAGLI</button>
                    </div>

                </div>


            </div>

        </div>

</a>
    </div>
    {% if loop.index is divisibleby(3) %}
</div>

<div class="row nodi">
    {% endif %}

    {% endfor %}
    <!-- fine contenuto -->

</div>

{% endblock %}



