{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}


    {% block body %}

  <div class="row clearfix">
        <div class="col-md-12 column">
            <h1>Il tuo profilo</h1>
        </div>
    </div>
    <!-- contenuto -->

    <div class="row clearfix">
        <div class="col-md-8 column">


<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>

        </div>


        <div class="col-md-4 column" id="colonnaPorto">


            <div class="row clearfix">

                <div class="col-md-12 column">




                </div>
            </div>

    <div class="row clearfix">

         <div class="col-md-12 column">

           <div class="content">


                     </div>

                     </div>
        </div>


            </div>
            <!-- fine contenuto -->
        </div>


        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="divisore-big"></div>
            </div>
        </div>


    </div>










    {% endblock %}



