{% extends 'layout_email.html.twig' %}

{% block title %}Chi Siamo{% endblock %}

{% block description %}asdas dasd {% endblock %}

{% block body %}


    <div class='movableContent'>
        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr><td height='40'></td></tr>
{% for comunicato in comunicati %}
            <tr>
                <td width='410'>
                    <table width="580" cellpadding="0" cellspacing="0" align="center">
                        <tr><td height='15'></td></tr>
                        <tr>
                            <td>
                                <div class='contentEditableContainer contentTextEditable'>
                                    <div class='contentEditable' style='text-align: left;'>
                                        <h2 style='font-size:16px;'>{{ comunicato.titolo }}</h2>
                                        <br>
                                        <p>Ricevuto da: {{ comunicato.autore.email }}</p>
                                        <br>
                                        <a target='_blank' href="http://local.velaforfun.dev/archivio/articoli/modifica/{{ comunicato.id }}" class='link4' style='color:#27A1E5;' >LEGGI TUTTO</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
{% endfor %}
        </table>
    </div>

{% endblock %}



