{% extends 'layout_email.html.twig' %}

{% block title %}Chi Siamo{% endblock %}

{% block body %}

    <font face="arial">
        <div class='movableContent'>
            <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td height='40'></td></tr>
                <tr>
                    <td width='410'>
                        <table width="580" cellpadding="0" cellspacing="0" align="center">
                            <tr><td height='15'></td></tr>
                            <tr>
                                <td>
                                    <div class='contentEditableContainer contentTextEditable'>
                                        <div class='contentEditable' style='text-align: left;'>
                                            <br>
                                            <strong>Oggetto:</strong> {{ contatto['oggetto'] }}<br>
                                            <strong>Email:</strong> {{ contatto['email'] }}<br>
                                            <strong>Testo:</strong> {{ contatto['testo'] }}<br>
                                            <p></p>
                                            <br>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </font>

{% endblock %}



