{% extends 'base.html.twig' %}



{% block title %}
    Crea Annunci cerco/offro imbarco
{% endblock %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}





{% block body %}


    <!-- contenuto -->
<div class="row clearfix">

      <div class="col-md-12 column">
        <div class="category">
            <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered" aria-hidden="true"></span>  </a>  <h1>Nuovo annuncio cerco/offro imbarco</h1>
        </div>
    </div>

    </div>

    <div class="row clearfix">

        <div class="col-md-8 column crud" >





    {{ form_start(form) }}
    {{ form_widget(form) }}
       <div>
        <input type="submit" class="btn btn-default login hvr-sweep-to-right"  value="Crea" />
    </div>
        <input type="hidden" class="callback" value="redirectImbarco">

        </form>

        </div>
          <div class="col-md-4 column">
            <div class="content">
            <div class="colonna-destra" style="margin-bottom: 20px">
                           <h2>Come funziona</h2>
                             <p>Chi offre un imbarco NON deve essere registrato al sito, è sufficiente che compili il form a fianco; tale modulo inserirà gratuitamente l'annuncio sul forum di velaforfun e invierà una mail a tutte le persone registrate al servizio che abbiano specificato preferenze analoghe a quelle dell'annuncio (come ad esempio stessa zona, stesso ruolo, etc).</p>
        </div>

<div class="colonna-destra" style="margin-bottom: 20px">
                           <h2>Sei alla ricerca di un imbarco?</h2>
                             <p>Se sei alla ricerca di un posto in un equipaggio pagato, gratis o a pagamento</p>
           <button type="submit" class="btn btn-default login hvr-sweep-to-right" onclick="location.href='cerca-annuncio'">CERCA TRA I POSTI DISPONIBILI</button>


        </div>
            </div>





        </div>
    </div>
    <!-- fine contenuto -->

</div>

{% endblock %}
