{% extends 'base.html.twig' %}

{% block title %}Chi Siamo{% endblock %}

{% block description %}asdas dasd {% endblock %}

{% block body %}


    <!-- contenuto -->


<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="category">
            <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered" aria-hidden="true"></span>  </a>  <h1>Chi Siamo</h1>
        </div>
    </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-8 column">



            <h2>Filosofia</h2>
            <p>

                Un portale a tema esclusivamente velico/marino completamente libero e senza scopo di lucro. La nostra forza sono i nostri contenuti.
                Un luogo di incontro che sta diventando un punto di ritrovo per velisti, dilettanti e professionisti, grazie alla sua particolare struttura incentrata sulla collaborazione che rende ogni utente parte attiva del sito. Tutti gli archivi sono, infatti, di libera consultazione e integrazione.
            </p>
            <h2>Chi siamo</h2>
            <p>

                Velaforfun è una Associazione Sportiva Dilettantistica per la promozione dello sport della vela.
                VelaForFun è interamente gestito da un gruppo di professionisti della vela che lavorano quotidianamente per aggiornarne i contenuti e rispondere ai quesiti degli utenti. Scegliere il nostro portale significa poter dialogare realmente con lo staff e usufruire di contenuti appositamente redatti e costantemente revisionati.
                Tramite eventi e momenti di incontro VelaForFun si pone l'obiettivo di avvicinare più persone possibili alla vela e al rispetto della natura e del mare.

            </p>

        </div>
        <div class="col-md-4 column">

        </div>

        <!-- fine contenuto -->

    </div>

{% endblock %}



