{% extends 'base.html.twig' %}

{% block title %}Chi Siamo{% endblock %}

{% block description %}asdas dasd {% endblock %}

{% block body %}


    <!-- contenuto -->


<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="category">
            <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered" aria-hidden="true"></span>  </a>  <h1>Chi Siamo</h1>
        </div>
    </div>
    </div>

    <div class="row clearfix" id="content-articolo" style="">
        <div class="col-md-8 column">


            <div class="row clearfix">
                <div class="col-md-12 column">
                    <h2>Filosofia</h2>
                    <div class="divisore-big"></div>

                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-12 column" >
                    <div id="body-content" style="min-height: 10px;margin-bottom: 10px">
            <p>

                Un portale a tema esclusivamente velico/marino completamente libero e senza scopo di lucro. La nostra forza sono i nostri contenuti.
                Un luogo di incontro che sta diventando un punto di ritrovo per velisti, dilettanti e professionisti, grazie alla sua particolare struttura incentrata sulla collaborazione che rende ogni utente parte attiva del sito. Tutti gli archivi sono, infatti, di libera consultazione e integrazione.
            </p>
</div></div></div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <h2>Chi siamo</h2>
                    <div class="divisore-big"></div>

                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-12 column" >
                    <div id="body-content" style="min-height: 10px;margin-bottom: 10px">
            <p>

                Velaforfun è una Associazione Sportiva Dilettantistica per la promozione dello sport della vela.
                VelaForFun è interamente gestito da un gruppo di professionisti della vela che lavorano quotidianamente per aggiornarne i contenuti e rispondere ai quesiti degli utenti. Scegliere il nostro portale significa poter dialogare realmente con lo staff e usufruire di contenuti appositamente redatti e costantemente revisionati.
                Tramite eventi e momenti di incontro VelaForFun si pone l'obiettivo di avvicinare più persone possibili alla vela e al rispetto della natura e del mare.

            </p>
                    </div></div></div>

        </div>
        <div class="col-md-4 column" style="margin-bottom: 20px">
     {% if articoli|length > 0 %}
    <div class="title" style="border-top:1px solid rgb(153, 153, 153);">
        Ultimi articoli

    </div>
    <div class="content" >


        {% for articoloRel in articoli|slice(0,3) %}
            <a href="/archivio/{{ articoloRel.categoria.permalink }}/{{ articoloRel.permalink }}">
                <div class="latest-news hvr-underline-from-left">
                    <div class="content">
                        <h4>{{ articoloRel.titolo }}</h4>

                        <p>  {{ articoloRel.sottotitolo|slice(0, 70)|raw|striptags }}...</p>
                    </div>
                    <div class="arrow">
                        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>
{% endif %}





        </div>
</div>
        <!-- fine contenuto -->

    </div>

{% endblock %}



