{% extends 'base.html.twig' %}

{% block title %}Contatti{% endblock %}

{% block description %}asdas dasd {% endblock %}

{% block body %}


    <!-- contenuto -->

    <div class="row clearfix">
        <div class="col-md-8 column">

            <h1>Contatti</h1>


        </div>
        <div class="col-md-4 column">

        </div>

        <!-- fine contenuto -->

    </div>

{% endblock %}



