{% extends 'base.html.twig' %}

{% block title %}F.A.Q. - Domande Frequenti{% endblock %}

{% block description %}asdas dasd {% endblock %}

{% block body %}


    <!-- contenuto -->

<div class="row clearfix">
    <div class="col-md-12 column">
        <h1>F.A.Q.</h1>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-8 column">


            <table class="table">
                <tbody>
                <tr><td bgcolor="#E6EBF3">
                        <b><font size="2" face="verdana">D. Perché registrarsi?</font></b>
                    </td></tr>
                <tr><td bgcolor="#ffffff">
                        <font size="2" face="verdana">R. La registrazione è completamente gratuita e permette sia di parteciapare alle discussioni già aperte che aprirne di nuove.</font>
                    </td></tr>
                <tr><td bgcolor="#E6EBF3">
                        <b><font size="2" face="verdana">D. Armatore: chi è?</font></b>
                    </td></tr>
                <tr><td bgcolor="#ffffff">
                        <font size="2" face="verdana">R. Sono utenti che sorvegliano nei limiti delle loro possibilità e disponibilità i messaggi che tutti gli utenti inseriscono nel forum, essi non posso vedere nessun tipo di informazioni private ma possono modificare/spostare/cancellare tutti i messaggi, oltre a poter escudere gli utenti dal forum in caso di gravi scorrettezze (Bannare).</font>
                    </td></tr>
                <tr><td bgcolor="#E6EBF3">
                        <b><font size="2" face="verdana">D. Posso modificare il mio profilo?</font></b>
                    </td></tr>
                <tr><td bgcolor="#ffffff">
                        <font size="2" face="verdana">R. Certo, è sufficiente cliccare in alto su PROFILO e apportare lì le modifiche desiderate.</font>
                    </td></tr>
                <tr><td bgcolor="#E6EBF3">
                        <b><font size="2" face="verdana">D. Posso modificare i messaggi che ho inserito?</font></b>
                    </td></tr>
                <tr><td bgcolor="#ffffff">
                        <font size="2" face="verdana">R. Si, puoi modificare i messaggi che hai inserito fino ad un massimo di 1h dall'ora del primo invio.</font>
                    </td></tr>
                <tr><td bgcolor="#E6EBF3">
                        <b><font size="2" face="verdana">D. Cosa significa la scritta sotto il nick degli utenti?</font></b>
                    </td></tr>
                <tr><td bgcolor="#ffffff">
                        <font size="2" face="verdana">R. Identifica i permessi che essi hanno e/o il grado di "vecchiaia" all'interno del forum determinato tramite il numero di post che essi hanno inviato:
                            <dir>
                                <b>ARMATORE:</b> supervisore del forum (Moderatore)<br>
                                <b>VELISTA AFFONDATO!:</b> NON ha più la possibilità di inviare messaggi ne di compiere qualsiasi operazione sul forum<br>
                                <b>VELISTA IN PORTO:</b> meno di 30 messaggi<br>
                                <b>MOZZO:</b> tra 30 e 100 messaggi<br>
                                <b>VELISTA:</b> tra 100 e 500 messaggi<br>
                                <b>SKIPPER:</b> tra 500 e 700 messaggi<br>
                                <b>VELISTA D'ALTO MARE:</b> tra 700 e 1000 messaggi<br>
                                <b>CAPITANO:</b> più di 1000 messaggi<br><br></dir>
                        </font></td></tr>
                <tr><td bgcolor="#E6EBF3">
                        <b><font size="2" face="verdana">D. Cos'è la firma?</font></b>
                    </td></tr>
                <tr><td bgcolor="#ffffff">
                        <font size="2" face="verdana">R. E' un breve messaggio personalizzabile che viene allegato alla fine di ogni proprio messaggio, esso può contenere frasi, link e quant'altro. Anche per esso è possibile utilizzare il codice di formattazione.
                        </font></td></tr>
                <tr><td bgcolor="#ffffff">
                        <font size="2" face="verdana">R. certo, al momento della composizione è sufficiente cliccare sull'immagine che si vuole inserire perché essa venga inserita ( :) :( ;) :D ).
                        </font></td></tr>
                <tr><td bgcolor="#E6EBF3">
                        <b><font size="2" face="verdana">D. Come posso avere un'immagine sotto il mio nick? (avatar)</font></b>
                    </td></tr>
                <tr><td bgcolor="#ffffff">
                        <font size="2" face="verdana">R. Tutti gli utenti che hanno accesso al proprio profilo possono aggiungere la propria avatar inviandola tramite il link sul proprio profilo.
                        </font></td></tr><tr><td bgcolor="#E6EBF3">
                        <b><font size="2" face="verdana">D. Cosa sono le notifiche?</font></b>
                    </td></tr>
                <tr><td bgcolor="#ffffff">
                        <font size="2" face="verdana">R. Sono dei messaggi di posta elettronica che ti segnalano, inviandoti un'e.mail all'indirizzo da te scelto, quando qualcuno risposte ad una discussione alla quale hai preso parte o alla quale sei iscritto.<br>Per eliminare la tua iscrizione ad una certa discussione è sufficiente seguire il link che trovi in calce ad ogni messaggio e.mail.
                        </font></td></tr><tr><td bgcolor="#E6EBF3">
                        <b><font size="2" face="verdana">D. Questo Forum utilizza i cookies? posso cancellarli?</font></b>
                    </td></tr>
                <tr><td bgcolor="#ffffff">
                        <font size="2" face="verdana">R. Si, questo forum salva i tuoi dati in un cookies per evitare che tu debba inserire i tuoi dati ogni volta che torni a visitarci.<br>Per cancellare i cookies è sufficiente cliccare sulla parola LOGOUT che trovi sotto il tuo nome in altro a Dx.
                        </font></td></tr>
                <tr><td bgcolor="#E6EBF3">
                        <b><font size="2" face="verdana">D. Cosa indicano i colori a lato delle discussioni?</font></b>
                    </td></tr>
                <tr><td bgcolor="#ffffff">
                        <font size="2" face="verdana">R. Sono dei colori arbitrari che indicano le caratteristiche e lo stato della discussione:<br>
                            <dir>
                                <img border="0" src="lucchettoaperto.gif"> ---&gt; La discussione è aperta, tutti gli utenti registrati posso partecipare ed inserire nuovi messaggi<br>
                                <img border="0" src="lucchetto.gif">  ---&gt; La discussione è stata chiusa da un armatore (moderatore), è possibile solamente visualizzarla ma non rispondere ad essa<br>
                                <img border="0" src="rilievo.gif"> ---&gt; La discussione è stata messa in rilievo da un armatore (moderatore). Essa rimarrà sempre tra i primi posti dell'elenco delle discussioni<br>
                                <img border="0" src="piu.gif"> ---&gt; La discussione ha riscontrato grande successo (&gt;200 visite, &gt;10 risposte)<br>
                            </dir><br>
                            Solo gli armatori hanno la facoltà di cambiare le caratteristiche delle discussioni aperte e/o chiuse.
                        </font></td></tr>

                <tr><td bgcolor="#E6EBF3">
                        <b><font size="2" face="verdana">D. Responsabilità!</font></b>
                    </td></tr>
                <tr><td bgcolor="#ffffff">
                        <font size="2" face="verdana">R. <b>ATTENZIONE</b> VelaForFun, tutto lo staff, non sono responsabili di contenuti, commenti, violazione della privacy e copyrights. Siamo comunque disponibili ad eliminare discussioni su richiesta motivata.<br>Tutte le discussioni e messaggi possono essere spostati/modifica/cancellati in base al giudizio delle staff che è insindacabile.<br>Ogni forumista è responsabile dei propri messaggi e delle proprie azioni; ognuno posta per il proprio piacere e non è obbligato in nessun caso a rispondere a nessuna discussione e/o messaggio.<br><br><i><b>Iscrivendosi si da il consenso a ricevere e.mail dallo staff e/o da qualunque forumista volesse contattarvi tramite il modulo presente sul forum.</b></i>
                        </font></td></tr>

                <tr><td bgcolor="#E6EBF3">
                        <b><font size="2" face="verdana">D. Privacy? E i miei dati personali?</font></b>
                    </td></tr>
                <tr><td bgcolor="#ffffff">
                        <font size="2" face="verdana">R. VelaForFun non comunicherà mai a terzi i dati dei propri utenti. Tutti i dati raccolti e archiviati vengono trattati secondo quanto esperesso dalla legge D. Lgs. 30 giugno 2003 n. 196 "Codice in materia di protezione dei dati personali".<br> <a href="privacy.asp">qui per maggiori informazioni</a>.

                        </font></td></tr>

                </tbody></table>

        </div>
        <div class="col-md-4 column">

        </div>

        <!-- fine contenuto -->

    </div>

{% endblock %}



