{% extends 'base.html.twig' %}

{% block title %}Chi Siamo{% endblock %}

{% block description %}asdas dasd {% endblock %}

{% block body %}


    <!-- contenuto -->


<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="category">
            <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered" aria-hidden="true"></span>  </a>  <h1>Privacy</h1>
        </div>
    </div>
    </div>

    <div class="row clearfix" id="content-articolo" style="">
        <div class="col-md-8 column">


            <div class="row clearfix">
                <div class="col-md-12 column">
                    <h2>TRATTAMENTO DEI DATI PERSONALI - PRIVACY</h2>
                    <div class="divisore-big"></div>

                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-12 column" >
                    <div id="body-content" style="min-height: 10px;margin-bottom: 10px">
            <p>
VelaForFun.com tratta i Suoi dati secondo il D. Lgs. 30 giugno 2003 n. 196 "Codice in materia di protezione dei datipersonali".
<br><br>
I Suoi dati personali (di seguito, dati) sono trattati esclusivamente per l’invio di news e informazioni riguardanti aggiornamenti ed eventi correlati con l’attività del portale di vela velaforfun.com.
<br><br>

Il trattamento dei dati potrà essere effettuato mediante qualsiasi modalità idonea sia con l’utilizzo di strumenti magnetici, elettronici, telematici o comunque automatizzati, ivi incluso l’impiego della posta elettronica (indirizzo e-mail), sia senza tali mezzi secondo le modalità aziendali in atto e quelle che saranno mano a mano introdotte per l’evoluzione delle procedure organizzative e degli strumenti operativi.
<br><br>

La informiamo che potranno venire a conoscenza dei Suoi dati soggetti specificamente incaricati per le attività legate all’esecuzione della presente attività. Il titolare del trattamento dei dati è Tomaso Piantini. In ogni momento e gratuitamente potrà esercitare i Suoi diritti, ai sensi dell’art. 7 del T.U., e cioè ottenere l'aggiornamento, la rettifica e la cancellazione.
<br><br>

Per qualsiasi problema, domanda o chiarimento ci contatti.  </p>
</div></div></div>


        </div>
        <div class="col-md-4 column">

        </div>
</div>
        <!-- fine contenuto -->

    </div>

{% endblock %}



