{% extends 'base.html.twig' %}

{% block title %}Ricette da Cambusa{% endblock %}

{% block description %}asdas dasd {% endblock %}

{% block body %}


    <!-- contenuto -->


<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="category">
            <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered" aria-hidden="true"></span>  </a>  <h1>Ricette da cambusa</h1>
        </div>
    </div>
    </div>

    <div class="row clearfix" id="content-articolo" style="">
        <div class="col-md-8 column">


            <div class="row clearfix">
                <div class="col-md-12 column">
                    <h2>Cucinare in barca?</h2>
                    <div class="divisore-big"></div>

                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-12 column" >
                    <div id="body-content" style="min-height: 10px;margin-bottom: 10px">
            <p>
Cucinare in barca non è come cucinare a casa propria! Spesso gli scarsi mezzi (piccoli forni e pentole) e spazi ristretti non permettono di cucinare "quella favolosa carne della zia" o quelle "scaloppe all'arancia di Paolo" così come si può fare a casa.
In barca molte ricette vanno riviste o modificate per adattarsi ai mezzi e agli spazi.<br>
Anche i pochi ingredienti (quelli base e non deperibili) sono spesso un fatto limitante che rendono di necessità virtù: cucinare il barca stimola la fantasia e genera ricette che mai si sarebbe pensato di fare a casa propria! </p>
</div></div></div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <h2>RICETTE DA BARCA</h2>
                    <div class="divisore-big"></div>

                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-12 column" >
                    <div id="body-content" style="min-height: 10px;margin-bottom: 10px">
            <p>

             Qui di seguito la lista delle ricette che abbiamo in archivio, scegli il genere e poi la ricetta che vuoi leggere/stampare! Se ne hai una tua inviacela!




            </p>
                    </div></div></div>


            <div class="row clearfix">
                <div class="col-md-6 column" >
                                <a href="/archivio/ricette-antipasti"><button class="btn btn-primary btn-lg hvr-glow" style="width:100%;margin-bottom: 10px;font-size: 20px;">Antipasti</button></a>

                    </div>
                    <div class="col-md-6 column" >
                               <a href="/archivio/ricette-primi"> <button class="btn btn-primary btn-lg hvr-glow" style="width:100%;margin-bottom: 10px;font-size: 20px;">Primi</button></a>

                    </div>
                    <div class="col-md-6 column" >
                               <a href="/archivio/ricette-secondi"> <button class="btn btn-primary btn-lg hvr-glow" style="width:100%;margin-bottom: 10px;font-size: 20px;">Secondi</button></a>

                    </div>
                    <div class="col-md-6 column" >
                                <a href="/archivio/ricette-dolci"><button class="btn btn-primary btn-lg hvr-glow" style="width:100%;margin-bottom: 10px;font-size: 20px;">Dolci</button></a>

                    </div>
                    <div class="col-md-6 column" >
                               <a href="/archivio/ricette-frutta"> <button class="btn btn-primary btn-lg hvr-glow" style="width:100%;margin-bottom: 10px;font-size: 20px;">Frutta</button></a>

                    </div>

                    </div>

        </div>
        <div class="col-md-4 column">

<div class="colonna-destra" style="margin-bottom: 20px">
                           <h2 class="foreground-verde">Hai una ricetta da segnalare?</h2>
                             <p>Inviacela subito gratuitamente</p>
           <button type="submit" class="btn btn-default login hvr-glow background-verde" onclick="location.href='nuova-ricetta'">Inserisci ora la tua ricetta</button>


        </div>
        </div>
</div>
        <!-- fine contenuto -->

    </div>

{% endblock %}



