{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
    {% block body %}

  <div class="row clearfix">
        <div class="col-md-12 column">
            <h1>Registrati</h1>
        </div>
    </div>
    <!-- contenuto -->

    <div class="row clearfix">
        <div class="col-md-8 column">

<a href="/secure_area/connect/facebook"
                                       class="btn btn-block btn-social btn-sm btn-facebook"
                                       id="loginFacebook">
                                        <i class="fa fa-facebook"></i>
                                        Accedi con Facebook
                                    </a>

         <div class="divisore"></div>
                                    <p class="menu-separator"><span>oppure inserisci i tuoi dati di accesso</span></p>

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-default login hvr-glow"  value="Registrati" />
    </div>
</form>




        </div>


        <div class="col-md-4 column" id="colonnaPorto">


            <div class="row clearfix">

                <div class="col-md-12 column">




                </div>
            </div>

    <div class="row clearfix">

         <div class="col-md-12 column">

           <div class="content">


                     </div>

                     </div>
        </div>


            </div>
            <!-- fine contenuto -->
        </div>


        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="divisore-big"></div>
            </div>
        </div>


    </div>










    {% endblock %}


