{% extends 'base.html.twig' %}


{% block title %}
    Connessione effettuata
{% endblock %}
  {% block body %}


<div class="row clearfix">
    <div class="col-md-12 column">
                  <h1>Connessione effettuata</h1>

        </div>
</div>
      <!-- contenuto -->

      <div class="row clearfix" id="content-articolo" style="min-height: 10px!important;margin-bottom: 20px">


          <div class="col-md-8 column">


 <div class="row clearfix">
        <div class="col-md-12 column" >
        <div id="body-content" style="">

            <div >
                    <h3>{{ 'header.success' | trans({'%name%': userInformation.realName}, 'HWIOAuthBundle') }}</h3>
  </div>

  <button type="submit" onclick="location.href='/'" class="btn btn-default login hvr-sweep-to-right" style="margin-top:70px">TORNA ALLA HOMEPAGE</button>

        </div>
</div>

        </div>



                      </div>


                      <div class="col-md-4 column">
            <div class="content">
            <div class="colonna-destra" style="margin-bottom: 20px">
                           <h2>Registrazione completata</h2>
                             <p>La tua registrazione è stata correttamente effettuata, adesso fai parte della comunità di VelaForFun!</p>

        </div>






<div class="colonna-destra" style="margin-bottom: 20px">
                           <h2 class="foreground-verde">Vuoi cercare chi scambierebbe il suo posto barca?</h2>
                             <p>Cerca tra gli annunci di chi vuole scambiare il suo posto barca e scegli in base alle tue preferenze</p>
           <button type="submit" class="btn btn-default login sweep-to-right background-verde" onclick="location.href='/annuncio-scambio-posto/cerca-annuncio'">CERCA TRA GLI ANNUNCI</button>


        </div>



            </div>





        </div>





                      </div>

    </div>
    <!-- fine contenuto -->

</div>





    {% endblock %}


