{% extends 'base.html.twig' %}

{% block title %}
    Accedi
{% endblock %}

    {% block body %}

  <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="category">
            <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered" aria-hidden="true"></span>  </a>  <h1>Accedi a Vela For Fun</h1>
        </div>
        </div>
    </div>
    <!-- contenuto -->

    <div class="row clearfix">
        <div class="col-md-8 column">
                <div class="col-md-12 column">
<a href="/secure_area/connect/facebook"
                                       class="btn btn-block btn-social btn-lg btn-facebook"
                                       id="loginFacebook">
                                        <i class="fa fa-facebook"></i>
                                        Accedi con Facebook
                                    </a>
</div>
            <div class="col-md-12 column" style="text-align:center;width:100%;">
         <div class="divisore-big"></div>

                                   <span style="font-size: 20px">oppure inserisci i tuoi dati di accesso</span>

                                   <div class="divisore-big"></div>
</div>




            <div class="col-md-12 column" style="">
                             <form method="post" action="/login_check">

                                      <div class="form-group">                <label for="fos_user_registration_form_username" class="control-label required">Username:</label><input type="text" class="form-control" pattern=".{2,}" maxlength="255" required="required" name="_username" id="username"></div>
      <div class="form-group">                <label for="fos_user_registration_form_plainPassword_first" class="control-label required">Password:</label><input type="password" class="form-control" required="required" name="_password" id="password"></div>

                                    <div class="form-group">

                                        <input type="checkbox" value="on" name="_remember_me" id="remember_me">
                                        <label for="remember_me">Ricordami</label>
                                    </div>
                                   <input type="submit" value="Accedi" class="btn btn-default login hvr-glow">

                                    </form>
                                    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
                </div>
        </div>


        <div class="col-md-4 column" id="colonnaPorto">


            <div class="row clearfix">

                <div class="col-md-12 column">




                </div>
            </div>

    <div class="row clearfix">

         <div class="col-md-12 column">

           <div class="content">


                     </div>

                     </div>
        </div>


            </div>
            <!-- fine contenuto -->
        </div>


        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="divisore-big"></div>
            </div>
        </div>


    </div>













    {% endblock %}


