{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}

{% block title %}
    Recupera Password
{% endblock %}

    {% block body %}

  <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="category">
            <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered" aria-hidden="true"></span>  </a>  <h1>Recupera Password - Email inviata</h1>
        </div>
        </div>
    </div>
    <!-- contenuto -->

    <div class="row clearfix" id="content-articolo" style="min-height: 250px">
        <div class="col-md-8 column"  id="body-content" style="min-height: 250px">


            <div class="col-md-12 column" style="">
<p>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>



</div>



        </div>



            <!-- fine contenuto -->
        </div>


        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="divisore-big"></div>
            </div>
        </div>


    </div>




    {% endblock %}


