<div class="content">
    <div class="colonna-destra" style="margin-bottom: 20px">
        <h2>Hai una barca e sei carente di equipaggio?</h2>

        <p>Se possiedi una barca o sei in contatto per poter offrire un imbarco pagato o a pagamento</p>
        <button type="submit" class="btn btn-default login hvr-sweep-to-right"
                onclick="location.href='/annuncio-imbarco/nuovo-annuncio'">CREA ORA IL TUO ANNUNCIO
        </button>

    </div>

    <div class="colonna-destra" style="margin-bottom: 20px">
        <h2 class="foreground-verde">Sei alla ricerca di un imbarco?</h2>

        <p>Se sei alla ricerca di un posto in un equipaggio pagato, gratis o a pagamento</p>

        <button type="submit" class="btn btn-default login hvr-sweep-to-right background-verde" onclick="location.href='/annuncio-imbarco/cerca-annuncio'">CERCA TRA I POSTI DISPONIBILI</button>


    </div>


    <div class="colonna-destra" style="margin-bottom: 20px">
        <h2 class="foreground-verde">Vuoi ricevere notifiche?</h2>

        <p>Se sei alla ricerca di un posto, ricevi una mail per gli annunci compatibili con le tue
            preferenze</p>
        <button type="submit" class="btn btn-default login hvr-sweep-to-right background-verde notifiche" >RICEVI
            LE NOTIFICHE
        </button>


    </div>


</div>











