{% extends 'base.html.twig' %}

 {% block stylesheets %}
     <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet'/>
 {% endblock %}



{% block javascripts %}
    {% spaceless %}
        <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
        <script language="javascript">

            $(document).ready(function () {
                var marker="";

                // Provide your access token
                L.mapbox.accessToken = 'pk.eyJ1IjoiY2hyaXN0aWFuMTQ4OCIsImEiOiJZaldjZlM0In0.hXiRMyyCDLdQZUrqXF2eNw';
                // Create a map in the div #map
                var map = L.mapbox.map('map', 'christian1488.m5b7ic2b');
                var myLayer = null;
                // Build a marker from a simple GeoJSON object:


                myLayer = L.mapbox.featureLayer().loadURL('/segnalazione-portolano/geojson_list').addTo(map);


                map.on('click', function (e) {
                    if(marker!=""){
                        map.removeLayer(marker);
                    }


                   marker = L.marker([e.latlng.lat, e.latlng.lng]);
                    marker.setIcon(L.mapbox.marker.icon({
                        "marker-color": "#fc4353",
                        'marker-symbol': 'cross',
                        'marker-size': 'medium'
                    }));
                    $("#latitudine").val(e.latlng.lat);
                    $("#longitudine").val(e.latlng.lng);
                    marker.addTo(map);
                    $("#modalPortolano").modal().on('hidden.bs.modal', function () {
                        map.removeLayer(marker);
                    });
                });


                myLayer.on('ready', function (e) {
                    map.fitBounds(myLayer.getBounds());

                });

// This uses the HTML5 geolocation API, which is available on
// most mobile browsers and modern browsers, but not in Internet Explorer
//
// See this chart of compatibility for details:
// http://caniuse.com/#feat=geolocation
                if (!navigator.geolocation) {
                    geolocate.innerHTML = 'Geolocation is not available';
                } else {
                    geolocate.onclick = function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        map.locate();
                    };
                }

// Once we've got a position, zoom and center the map
// on it, and add a single marker.
                map.on('locationfound', function (e) {
                    map.fitBounds(e.bounds);

                    $("#latitudine").val(e.latlng.lat);
                    $("#longitudine").val(e.latlng.lng);

                    myLayer.setGeoJSON({
                        type: 'Feature',
                        geometry: {
                            type: 'Point',
                            coordinates: [e.latlng.lng, e.latlng.lat]
                        },
                        properties: {
                            "marker-color": "#fc4353",
                            'marker-symbol': 'cross'
                        }
                    });

                    // And hide the geolocation button
                    geolocate.parentNode.removeChild(geolocate);
                });

// If the user chooses not to allow their location
// to be shared, display an error message.
                map.on('locationerror', function () {
                    geolocate.innerHTML = 'Position could not be found';
                });


            });
        </script>
    {% endspaceless %}
{% endblock %}

{% block body %}


   <div class="row clearfix">
        <div class="col-md-8 column">

            <h1>Portolano Online</h1>

            <div id='map'></div>


        </div>
        <div class="col-md-4 column">
            <div class="content">
                <div class="colonna-destra" style="margin-bottom: 20px">
            <p>
                Portolano Online è un servizio innovativo che raccoglie le segnalazioni degli utenti per i mari che bagnano la penisola italiana. Qui sono raccolte tutte quelle indicazioni e particolarità che ognuno ha sperimentato e trovato navigando e che non sono segnalate sulle carte o alle quali non è dato sufficiente peso.
                Troverai quindi accortezze nell'evitare secche, individuare fari, zone senza ridossi, allineamenti di ingresso e quant'altro ogni utente abbia ritenuto di segnalare a chi naviga in un particolare specchio d'acqua.
                Ogni segnalazione può essere stampata con un'apposita pagina di formato ridotto che riporta la descrizione e le coordinate del pericolo/avviso così da poterla portare assieme al portolano quando si naviga, un sistema per aggiornare e arricchire il proprio portolano/libro di bordo.
                Ricorda di aggiungere la tua segnalazione. Ti segnaliamo anche il servizio di commento per i porti italiani dove puoi trovare i commenti degli utenti.
            </p>
            {% if app.user %}


                           <h2>Inserisci una segnalazione</h2>
                             <p>compila il form per inserire una nuova segnalazione nel portolano online</p>

    {{ form_start(form) }}
                <div class="modal-body">
                    <a href='#' id='geolocate' class='ui-button'>Find me</a>


                    <div class="form-group">
                        <label for="descrizione">Descrizione:</label>
                        <textarea id="descrizione" name="appbundle_segnalazioneportolano[descrizione]"
                                  class="form-control"
                                  placeholder="Descrizione della segnalazione"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="descrizione">Coordinate della segnalazione:</label>

                        <div class="input-group">
                            <span class="input-group-addon" id="coordinate-x">Lat.</span>
                            <input type="text" class="form-control" name="appbundle_segnalazioneportolano[latitudine]"
                                   placeholder="Inserisci la coordinata"
                                   id="latitudine" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="coordinate-y">Long.</span>
                            <input type="text" class="form-control" name="appbundle_segnalazioneportolano[longitudine]"
                                   placeholder="Inserisci la coordinata"
                                   id="longitudine" aria-describedby="basic-addon1">
                        </div>
                        <input type="hidden" name="appbundle_segnalazioneportolano[utente]" value='{{ app.user.id }}'>


                    </div>

                </div>
                    <button type="submit" class="btn btn-default login hvr-glow">Inserisci</button>
                </form>



{% else %}
    <h4>Per inserire una nuova segnalazione devi effettuare il login</h4>
{% endif %}

            </div>

        </div>
    </div>
    <!-- fine contenuto -->

</div>



{% endblock %}



