{% extends 'base.html.twig' %}

 {% block stylesheets %}
     <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet'/>
 {% endblock %}

{% block title %}Portolano Online{% endblock %}

{% block javascripts %}
    {% spaceless %}
        <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
        <script language="javascript">

            $(document).ready(function () {
                var marker="";

                // Provide your access token
                L.mapbox.accessToken = 'pk.eyJ1IjoiY2hyaXN0aWFuMTQ4OCIsImEiOiJZaldjZlM0In0.hXiRMyyCDLdQZUrqXF2eNw';
                // Create a map in the div #map
                var map = L.mapbox.map('map', 'christian1488.m5b7ic2b');
                var myLayer = null;
                // Build a marker from a simple GeoJSON object:


                myLayer = L.mapbox.featureLayer().loadURL('/segnalazione-portolano/geojson_list').addTo(map);


                map.on('click', function (e) {
                    if(marker!=""){
                        map.removeLayer(marker);
                    }


                   marker = L.marker([e.latlng.lat, e.latlng.lng]);
                    marker.setIcon(L.mapbox.marker.icon({
                        "marker-color": "#fc4353",
                        'marker-symbol': 'cross',
                        'marker-size': 'medium'
                    }));
                    $("#latitudine").val(e.latlng.lat);
                    $("#longitudine").val(e.latlng.lng);
                    marker.addTo(map);

                    $("#modalPortolano").modal().on('hidden.bs.modal', function () {
                        map.removeLayer(marker);
                    });
                });


                myLayer.on('ready', function (e) {
                    map.fitBounds(myLayer.getBounds());

                });

// This uses the HTML5 geolocation API, which is available on
// most mobile browsers and modern browsers, but not in Internet Explorer
//
// See this chart of compatibility for details:
// http://caniuse.com/#feat=geolocation
                if (!navigator.geolocation) {
                    geolocate.innerHTML = 'Geolocation is not available';
                } else {
                    geolocate.onclick = function (e) {


                        e.preventDefault();
                        e.stopPropagation();
                        map.locate();
                    };
                }

// Once we've got a position, zoom and center the map
// on it, and add a single marker.
                map.on('locationfound', function (e) {

                    $("#latitudine").val(e.latlng.lat);
                    $("#longitudine").val(e.latlng.lng);

                    if(marker!=""){
                        map.removeLayer(marker);
                    }

                    marker = L.marker([e.latlng.lat, e.latlng.lng]);
                    marker.setIcon(L.mapbox.marker.icon({
                        "marker-color": "#429CBC",
                        'marker-symbol': 'star',
                        'marker-size': 'medium'
                    }));
                    $("#latitudine").val(e.latlng.lat);
                    $("#longitudine").val(e.latlng.lng);
                    marker.addTo(map);


                    // And hide the geolocation button
                    $("#geolocate").after('<div role="alert" id="alertdiv" class="alert alert-success"><span>Geolocalizzazione effettuata!</span></div>');

                });

// If the user chooses not to allow their location
// to be shared, display an error message.
                map.on('locationerror', function () {
                    geolocate.innerHTML = 'Position could not be found';
                });


            });
        </script>
    {% endspaceless %}
{% endblock %}

{% block body %}
<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="category">
        <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered" aria-hidden="true"></span>  </a>  <h1>Portolano Online</h1>
</div>
    </div>
    </div>
<div class="row clearfix">
    <div class="col-md-12 column">

   <div class="row clearfix">
        <div class="col-md-8 column">

            <div id='map'></div>


        </div>
        <div class="col-md-4 column">
            <div class="row clearfix">
            <div class="content">
                <div class="col-md-12 column">
                <div class="colonna-destra" style="margin-bottom: 20px">
                    <h2>Cos'è Portolano Online</h2>
            <p>
                Portolano Online è un servizio innovativo che raccoglie le segnalazioni degli utenti per i mari che bagnano la penisola italiana. Qui sono raccolte tutte quelle indicazioni e particolarità che ognuno ha sperimentato e trovato navigando e che non sono segnalate sulle carte o alle quali non è dato sufficiente peso.
                Troverai quindi accortezze nell'evitare secche, individuare fari, zone senza ridossi, allineamenti di ingresso e quant'altro ogni utente abbia ritenuto di segnalare a chi naviga in un particolare specchio d'acqua.
                Ogni segnalazione può essere stampata con un'apposita pagina di formato ridotto che riporta la descrizione e le coordinate del pericolo/avviso così da poterla portare assieme al portolano quando si naviga, un sistema per aggiornare e arricchire il proprio portolano/libro di bordo.
                Ricorda di aggiungere la tua segnalazione. Ti segnaliamo anche il servizio di commento per i porti italiani dove puoi trovare i commenti degli utenti.
            </p>
</div></div>
                <div class="col-md-12 column">
                    <div class="colonna-destra" style="margin-bottom: 20px">
                    <h4 style="font-size:24px">Inserisci la tua segnalazione</h4>
                        <div style="width:100%" class="row-number">

                            <div class="number background-celeste">1</div>
                            <h5>Effettua il login
                            </h5>
                        </div>

                        <div style="width:100%" class="row-number">

                            <div class="number background-celeste">2</div>
                            <h5>Clicca su un punto della mappa
                            </h5>
                        </div>

                        <div style="width:100%" class="row-number">

                            <div class="number background-celeste">3</div>
                            <h5>Inserisci la segnalazione
                            </h5>
                        </div>

            </div>
                </div>
</div>
        </div>
    </div>
    <!-- fine contenuto -->
</div>
        </div>
</div>







<!-- Modal -->
<div class="modal fade" id="modalPortolano" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Inserisci una segnalazione</h4>
      </div>
      <div class="modal-body">






          {% if app.user %}


                             <p>compila il form per inserire una nuova segnalazione nel portolano online</p>

    {{ form_start(form) }}
                <div class="modal-body">
                 <button class="localizzami hvr-glow left" id='geolocate'><i style=""
                                                                                            class="fa fa-crosshairs"></i>Localizzami
                                </button>




                    <div class="form-group" style="margin-top: 10px;">
                        <label for="descrizione">Descrizione:</label>
                        <textarea id="descrizione" name="appbundle_segnalazioneportolano[descrizione]"
                                  class="form-control"
                                  required placeholder="Descrizione della segnalazione"></textarea>
                    </div>
                    <div class="form-group">

                         <label for="descrizione">Latitudine:</label>

                            <input type="text" class="form-control" name="appbundle_segnalazioneportolano[latitudine]"
                                   placeholder="Inserisci la coordinata"
                                   id="latitudine" aria-describedby="basic-addon1">
                                   </div>
                                   <div class="form-group">
                           <label for="longitudine">Longitudine:</label>
                            <input type="text" class="form-control" name="appbundle_segnalazioneportolano[longitudine]"
                                   placeholder="Inserisci la coordinata"
                                   id="longitudine" aria-describedby="basic-addon1">
                        <input type="hidden" name="appbundle_segnalazioneportolano[utente]" value='{{ app.user.id }}'>


                    </div>

                </div>
                    <button type="submit" class="btn btn-default login hvr-glow"> <i class="fa fa-spinner fa-2x fa-spin hide"></i><span class="show">Inserisci</span></button>
                </form>



{% else %}


              <div class="col-md-12 column" style="">
                  <a href="/secure_area/connect/facebook"
                     class="btn btn-block btn-social btn-lg btn-facebook"
                     id="loginFacebook">
                      <i class="fa fa-facebook"></i>
                      Accedi con Facebook
                  </a>
              </div>
              <div class="col-md-12 column" style="text-align:center;width:100%;">
                  <div class="divisore-big"></div>

                  <span style="font-size: 20px">oppure inserisci i tuoi dati di accesso</span>

                  <div class="divisore-big"></div>
              </div>




              <div class="col-md-12 column" style="">
                  <form method="post" action="/login_check">

                      <div class="form-group">                <label for="fos_user_registration_form_username" class="control-label required">Username:</label><input type="text" class="form-control" pattern=".{2,}" maxlength="255" required="required" name="_username" id="username"></div>
                      <div class="form-group">                <label for="fos_user_registration_form_plainPassword_first" class="control-label required">Password:</label><input type="password" class="form-control" required="required" name="_password" id="password"></div>

                      <div class="form-group">

                          <input type="checkbox" value="on" name="_remember_me" id="remember_me">
                          <label for="remember_me">Ricordami</label>
                      </div>
                      <input type="submit" value="Accedi" class="btn btn-default login hvr-glow">

                  </form>

              </div>
          {% endif %}



      </div>
    </div>
  </div>
</div>










{% endblock %}



